@{
    ViewBag.Title = "Dot Net Tricks -Server-side validation Demonstration";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
               
            </hgroup>
            <p>
                To learn more about ASP.NET MVC4 visit
                <a href="http://www.dotnet-tricks.com/Tutorial/mvclist" title="ASP.NET MVC4 Tutorial">http://www.dotnet-tricks.com/Tutorial/mvclist</a>.
               
            </p>
        </div>
    </section>
}
<div style="height:320px;">&nbsp;</div>

